*{
  margin: 0px;
  padding: 0px;
}

main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: #355C7D;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #C06C84, #6C5B7B, #355C7D);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #C06C84, #6C5B7B, #355C7D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.loginContent {
  height: 200px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #C06C84;
  border-radius: 20px;
  -webkit-box-shadow: 3px 7px 33px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 7px 33px 0px rgba(0,0,0,0.75);
  box-shadow: 3px 7px 33px 0px rgba(0,0,0,0.75);

  border: 1px solid white;
  /* animation: flip 6s ease-in-out infinite; */
  transform-style: preserve-3d;

}

.registerContent {
  height: 200px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #6C5B7B;
  border-radius: 20px;
  -webkit-box-shadow: 3px 7px 33px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 7px 33px 0px rgba(0,0,0,0.75);
  box-shadow: 3px 7px 33px 0px rgba(0,0,0,0.75);

  border: 1px solid white;
  transform-style: preserve-3d;

}


h1{
  color: white;
}

.submitButton {
  margin-top: 8px;
}

.labels {
  width: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.inputs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

input {
  margin-bottom: 3px;
  outline: none;
  border: none;
  padding-top: 4px;
}

.inputContainer {
  width: 250px;
  display: flex;
  justify-content: space-between;
}

.logoTitle{
  width: 600px;
  height: 50px;
  text-align: center;
  border: 2px solid white;
  border-radius: 20px;

}

.logoSlogan {
  width: 600px;
  height: 30px;
  margin-right: 75px;
  margin-bottom: 50px;
  text-align: right;

}

label {
  color: white;
}
.logoText {
  color: white;
}

h2, h3 {
  margin-top: 20px;
  color: white;

}
form {
  height: 100px;
  width: 300px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #C06C84;
}

.registerForm {
    height: 100px;
    width: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #6C5B7B;


}

.registerButton {
  background: none;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
}

.submitButton {
  width: 100px;
  height: 25px;
  text-decoration: none;
  background-color: white;
  border-radius: 100px;
  transition: transform 0.5s;
}

.submitButton:hover {
  color: white;
  background-color: #6C5B7B;
  transform: scaleX(1.5);
}

.linkRegister{
  color: white;
  text-decoration: overline;
}

.linkRegister:hover {
  font-weight: bold;
}

.linkRegister:active {
  color: #355C7D;

}

.todoContent {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



p{
  color: white;
}

li {
  width: 300px;
  height: 50px;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid white;
  background-color: #6C5B7B;
}


.registerButton {
  color: white;
  text-decoration: overline;
}

.registerButton:hover {
  font-weight: bold;
  cursor: pointer;
}

.submitButton {
  color: black;
}


@keyframes fadein {
	0% {	transform: scaleX(0);	}
	100% {	transform: scaleX(1);	}
}

@keyframes fadeout {
	0% {	transform: scaleX(1);	}
	100% { transform: scaleX(0); }
}

.formAnimationIn {
  animation: fadein 0.3s;
}

.formAnimationOut {
  animation: fadeout 0.3s;
}

/* @keyframes fadein {
	0% {	transform: rotateY(0deg);	}
	100% {	transform: rotateY(90deg);	}
}

@keyframes fadeout {
	0% {	transform: rotateY(90deg);	}
	100% { transform: rotateY(180deg); }
} */
